table {
    border: 1px solid black;
    border-collapse: collapse;
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
}

.board td:hover {
    background-color: lightsalmon;
}

td.occupied {
    background-color: lightgray;
}

[data-name="puki"][data-age="18"] {
    color: red;
}

button {
    margin-top: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    background: lightgray;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 20px;
}


.modal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width: 300px;

    padding: 5px;
    background-color: lightseagreen;
}

.modal button {
    float: right;
}